{"openapi":"3.0.1","info":{"title":"Unified Events API","version":"1.0.0"},"servers":[{"url":"https://events.appsflyer.com/v2.0/s2s/inapp/app","description":"Production server"}],"security":[{"ApiKeyAuth":[]}],"paths":{"/android/{app-id}":{"post":{"tags":["Measure in-app events"],"summary":"Android","operationId":"unified-v2-events-api-android","description":"> ⚠️ Work In Progress\n","parameters":[{"$ref":"#/components/parameters/AppId"}],"requestBody":{"content":{"application/json":{"schema":{"required":["appsflyer_id","event_name","ip"],"type":"object","properties":{"device_id":{"$ref":"#/components/schemas/AndroidDeviceIds"},"vendor_id":{"$ref":"#/components/schemas/AndroidVendorId"},"appsflyer_id":{"$ref":"#/components/schemas/AppsFlyerId"},"customer_user_id":{"$ref":"#/components/schemas/CustomerId"},"ip":{"$ref":"#/components/schemas/Ip"},"event_name":{"$ref":"#/components/schemas/EventName"},"event_currency":{"$ref":"#/components/schemas/EventCurrency"},"event_revenue":{"$ref":"#/components/schemas/EventRevenue"},"event_value":{"$ref":"#/components/schemas/EventValue"},"app_version":{"$ref":"#/components/schemas/AppVersion"},"app_store":{"$ref":"#/components/schemas/AppStore"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"bundle_identifier":{"$ref":"#/components/schemas/BundleIdentifier"},"user_agent":{"$ref":"#/components/schemas/UserAgent"},"device_os_version":{"$ref":"#/components/schemas/DeviceOsVersion"},"device_model":{"$ref":"#/components/schemas/DeviceModel"},"limit_ad_tracking":{"$ref":"#/components/schemas/LimitAdTracking"},"sharing_filter":{"$ref":"#/components/schemas/SharingFilter"},"consent_data":{"$ref":"#/components/schemas/ConsentData"}}}}},"required":true},"responses":{"202":{"description":"The request was accepted","content":{}},"400":{"description":"Mandatory fields in the message body are missing, or fields are invalid","content":{}},"401":{"description":"The app doesn't exist or the authentication failed","content":{}},"403":{"description":"App traffic blocked due to Zero package limit","content":{}}},"x-codegen-request-body-name":"body"}},"/ios/{app-id}":{"post":{"tags":["Measure in-app events"],"summary":"Ios","operationId":"unified-v2-events-api-ios","description":"> ⚠️ Work In Progress\n","parameters":[{"$ref":"#/components/parameters/AppId"}],"requestBody":{"content":{"application/json":{"schema":{"required":["appsflyer_id","event_name","ip"],"type":"object","properties":{"device_id":{"$ref":"#/components/schemas/IosDeviceIds"},"vendor_id":{"$ref":"#/components/schemas/iOSVendorId"},"att":{"$ref":"#/components/schemas/iOSAtt"},"appsflyer_id":{"$ref":"#/components/schemas/AppsFlyerId"},"customer_user_id":{"$ref":"#/components/schemas/CustomerId"},"ip":{"$ref":"#/components/schemas/Ip"},"event_name":{"$ref":"#/components/schemas/EventName"},"event_currency":{"$ref":"#/components/schemas/EventCurrency"},"event_revenue":{"$ref":"#/components/schemas/EventRevenue"},"event_value":{"$ref":"#/components/schemas/EventValue"},"app_version":{"$ref":"#/components/schemas/AppVersion"},"app_store":{"$ref":"#/components/schemas/AppStore"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"bundle_identifier":{"$ref":"#/components/schemas/BundleIdentifier"},"user_agent":{"$ref":"#/components/schemas/UserAgent"},"device_os_version":{"$ref":"#/components/schemas/DeviceOsVersion"},"device_model":{"$ref":"#/components/schemas/DeviceModel"},"limit_ad_tracking":{"$ref":"#/components/schemas/LimitAdTracking"},"sharing_filter":{"$ref":"#/components/schemas/SharingFilter"},"consent_data":{"$ref":"#/components/schemas/ConsentData"}}}}},"required":true},"responses":{"202":{"description":"The request was accepted","content":{}},"400":{"description":"Mandatory fields in the message body are missing, or fields are invalid","content":{}},"401":{"description":"The app doesn't exist or the authentication failed","content":{}},"403":{"description":"App traffic blocked due to Zero package limit","content":{}}},"x-codegen-request-body-name":"body"}},"/smartcast/{app-id}":{"post":{"tags":["Measure in-app events"],"summary":"Smartcast","operationId":"unified-v2-events-api-smartcast","description":"> ⚠️ Work In Progress\n","parameters":[{"$ref":"#/components/parameters/AppId"}],"requestBody":{"content":{"application/json":{"schema":{"required":["appsflyer_id","ip","event_name"],"type":"object","properties":{"device_id":{"$ref":"#/components/schemas/Vida"},"appsflyer_id":{"$ref":"#/components/schemas/AppsFlyerId"},"request_id":{"$ref":"#/components/schemas/RequestId"},"customer_user_id":{"$ref":"#/components/schemas/CustomerId"},"ip":{"$ref":"#/components/schemas/Ip"},"event_name":{"$ref":"#/components/schemas/EventName"},"event_currency":{"$ref":"#/components/schemas/EventCurrency"},"event_revenue":{"$ref":"#/components/schemas/EventRevenue"},"event_value":{"$ref":"#/components/schemas/EventValue"},"app_version":{"$ref":"#/components/schemas/AppVersion"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"user_agent":{"$ref":"#/components/schemas/UserAgent"},"device_os_version":{"$ref":"#/components/schemas/DeviceOsVersion"},"device_model":{"$ref":"#/components/schemas/DeviceModel"},"limit_ad_tracking":{"$ref":"#/components/schemas/LimitAdTracking"},"sharing_filter":{"$ref":"#/components/schemas/SharingFilter"}}}}},"required":true},"responses":{"202":{"description":"The request was accepted","content":{}},"400":{"description":"Mandatory fields in the message body are missing, or fields are invalid","content":{}},"401":{"description":"The app doesn't exist or the authentication failed","content":{}},"403":{"description":"App traffic blocked due to Zero package limit","content":{}}},"x-codegen-request-body-name":"body"}},"/roku/{app-id}":{"post":{"tags":["Measure in-app events"],"summary":"Roku","operationId":"unified-v2-events-api-roku","description":"> ⚠️ Work In Progress\n","parameters":[{"$ref":"#/components/parameters/AppId"}],"requestBody":{"content":{"application/json":{"schema":{"required":["appsflyer_id","ip","event_name"],"type":"object","properties":{"device_id":{"$ref":"#/components/schemas/Rida"},"appsflyer_id":{"$ref":"#/components/schemas/AppsFlyerId"},"request_id":{"$ref":"#/components/schemas/RequestId"},"customer_user_id":{"$ref":"#/components/schemas/CustomerId"},"ip":{"$ref":"#/components/schemas/Ip"},"event_name":{"$ref":"#/components/schemas/EventName"},"event_currency":{"$ref":"#/components/schemas/EventCurrency"},"event_revenue":{"$ref":"#/components/schemas/EventRevenue"},"event_value":{"$ref":"#/components/schemas/EventValue"},"app_version":{"$ref":"#/components/schemas/AppVersion"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"user_agent":{"$ref":"#/components/schemas/UserAgent"},"device_os_version":{"$ref":"#/components/schemas/DeviceOsVersion"},"device_model":{"$ref":"#/components/schemas/DeviceModel"},"limit_ad_tracking":{"$ref":"#/components/schemas/LimitAdTracking"},"sharing_filter":{"$ref":"#/components/schemas/SharingFilter"}}}}},"required":true},"responses":{"202":{"description":"The request was accepted","content":{}},"400":{"description":"Mandatory fields in the message body are missing, or fields are invalid","content":{}},"401":{"description":"The app doesn't exist or the authentication failed","content":{}},"403":{"description":"App traffic blocked due to Zero package limit","content":{}}},"x-codegen-request-body-name":"body"}},"/tizen/{app-id}":{"post":{"tags":["Measure in-app events"],"summary":"Tizen","operationId":"unified-v2-events-api-tizen","description":"> ⚠️ Work In Progress\n","parameters":[{"$ref":"#/components/parameters/AppId"}],"requestBody":{"content":{"application/json":{"schema":{"required":["appsflyer_id","ip","event_name"],"type":"object","properties":{"device_id":{"$ref":"#/components/schemas/Tifa"},"appsflyer_id":{"$ref":"#/components/schemas/AppsFlyerId"},"request_id":{"$ref":"#/components/schemas/RequestId"},"customer_user_id":{"$ref":"#/components/schemas/CustomerId"},"ip":{"$ref":"#/components/schemas/Ip"},"event_name":{"$ref":"#/components/schemas/EventName"},"event_currency":{"$ref":"#/components/schemas/EventCurrency"},"event_revenue":{"$ref":"#/components/schemas/EventRevenue"},"event_value":{"$ref":"#/components/schemas/EventValue"},"app_version":{"$ref":"#/components/schemas/AppVersion"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"user_agent":{"$ref":"#/components/schemas/UserAgent"},"device_os_version":{"$ref":"#/components/schemas/DeviceOsVersion"},"device_model":{"$ref":"#/components/schemas/DeviceModel"},"limit_ad_tracking":{"$ref":"#/components/schemas/LimitAdTracking"},"sharing_filter":{"$ref":"#/components/schemas/SharingFilter"}}}}},"required":true},"responses":{"202":{"description":"The request was accepted","content":{}},"400":{"description":"Mandatory fields in the message body are missing, or fields are invalid","content":{}},"401":{"description":"The app doesn't exist or the authentication failed","content":{}},"403":{"description":"App traffic blocked due to Zero package limit","content":{}}},"x-codegen-request-body-name":"body"}},"/webos/{app-id}":{"post":{"tags":["Measure in-app events"],"summary":"Webos","operationId":"unified-v2-events-api-webos","description":"> ⚠️ Work In Progress\n","parameters":[{"$ref":"#/components/parameters/AppId"}],"requestBody":{"content":{"application/json":{"schema":{"required":["appsflyer_id","ip","event_name"],"type":"object","properties":{"device_id":{"$ref":"#/components/schemas/Lgudid"},"appsflyer_id":{"$ref":"#/components/schemas/AppsFlyerId"},"request_id":{"$ref":"#/components/schemas/RequestId"},"customer_user_id":{"$ref":"#/components/schemas/CustomerId"},"ip":{"$ref":"#/components/schemas/Ip"},"event_name":{"$ref":"#/components/schemas/EventName"},"event_currency":{"$ref":"#/components/schemas/EventCurrency"},"event_revenue":{"$ref":"#/components/schemas/EventRevenue"},"event_value":{"$ref":"#/components/schemas/EventValue"},"app_version":{"$ref":"#/components/schemas/AppVersion"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"user_agent":{"$ref":"#/components/schemas/UserAgent"},"device_os_version":{"$ref":"#/components/schemas/DeviceOsVersion"},"device_model":{"$ref":"#/components/schemas/DeviceModel"},"limit_ad_tracking":{"$ref":"#/components/schemas/LimitAdTracking"},"sharing_filter":{"$ref":"#/components/schemas/SharingFilter"}}}}},"required":true},"responses":{"202":{"description":"The request was accepted","content":{}},"400":{"description":"Mandatory fields in the message body are missing, or fields are invalid","content":{}},"401":{"description":"The app doesn't exist or the authentication failed","content":{}},"403":{"description":"App traffic blocked due to Zero package limit","content":{}}},"x-codegen-request-body-name":"body"}},"/playstation/{app-id}":{"post":{"tags":["Measure in-app events"],"summary":"Playstation","operationId":"unified-v2-events-api-playstation","description":"> ⚠️ Work In Progress\n","parameters":[{"$ref":"#/components/parameters/AppId"}],"requestBody":{"content":{"application/json":{"schema":{"required":["appsflyer_id","ip","event_name"],"type":"object","properties":{"device_id":{"$ref":"#/components/schemas/Psid"},"appsflyer_id":{"$ref":"#/components/schemas/AppsFlyerId"},"request_id":{"$ref":"#/components/schemas/RequestId"},"customer_user_id":{"$ref":"#/components/schemas/CustomerId"},"ip":{"$ref":"#/components/schemas/Ip"},"event_name":{"$ref":"#/components/schemas/EventName"},"event_currency":{"$ref":"#/components/schemas/EventCurrency"},"event_revenue":{"$ref":"#/components/schemas/EventRevenue"},"event_value":{"$ref":"#/components/schemas/EventValue"},"app_version":{"$ref":"#/components/schemas/AppVersion"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"user_agent":{"$ref":"#/components/schemas/UserAgent"},"device_os_version":{"$ref":"#/components/schemas/DeviceOsVersion"},"device_model":{"$ref":"#/components/schemas/DeviceModel"},"limit_ad_tracking":{"$ref":"#/components/schemas/LimitAdTracking"},"sharing_filter":{"$ref":"#/components/schemas/SharingFilter"}}}}},"required":true},"responses":{"202":{"description":"The request was accepted","content":{}},"400":{"description":"Mandatory fields in the message body are missing, or fields are invalid","content":{}},"401":{"description":"The app doesn't exist or the authentication failed","content":{}},"403":{"description":"App traffic blocked due to Zero package limit","content":{}}},"x-codegen-request-body-name":"body"}},"/vidaa/{app-id}":{"post":{"tags":["Measure in-app events"],"summary":"Vidaa","operationId":"unified-v2-events-api-vidaa","description":"> ⚠️ Work In Progress\n","parameters":[{"$ref":"#/components/parameters/AppId"}],"requestBody":{"content":{"application/json":{"schema":{"required":["appsflyer_id","ip","event_name"],"type":"object","properties":{"device_id":{"$ref":"#/components/schemas/CtvDeviceIds"},"appsflyer_id":{"$ref":"#/components/schemas/AppsFlyerId"},"request_id":{"$ref":"#/components/schemas/RequestId"},"customer_user_id":{"$ref":"#/components/schemas/CustomerId"},"ip":{"$ref":"#/components/schemas/Ip"},"event_name":{"$ref":"#/components/schemas/EventName"},"event_currency":{"$ref":"#/components/schemas/EventCurrency"},"event_revenue":{"$ref":"#/components/schemas/EventRevenue"},"event_value":{"$ref":"#/components/schemas/EventValue"},"app_version":{"$ref":"#/components/schemas/AppVersion"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"user_agent":{"$ref":"#/components/schemas/UserAgent"},"device_os_version":{"$ref":"#/components/schemas/DeviceOsVersion"},"device_model":{"$ref":"#/components/schemas/DeviceModel"},"limit_ad_tracking":{"$ref":"#/components/schemas/LimitAdTracking"},"sharing_filter":{"$ref":"#/components/schemas/SharingFilter"}}}}},"required":true},"responses":{"202":{"description":"The request was accepted","content":{}},"400":{"description":"Mandatory fields in the message body are missing, or fields are invalid","content":{}},"401":{"description":"The app doesn't exist or the authentication failed","content":{}},"403":{"description":"App traffic blocked due to Zero package limit","content":{}}},"x-codegen-request-body-name":"body"}},"/steam/{app-id}":{"post":{"tags":["Measure in-app events"],"summary":"Steam","operationId":"unified-v2-events-api-steam","description":"> ⚠️ Work In Progress\n","parameters":[{"$ref":"#/components/parameters/AppId"}],"requestBody":{"content":{"application/json":{"schema":{"required":["appsflyer_id","ip","event_name"],"type":"object","properties":{"device_id":{"$ref":"#/components/schemas/Steamid"},"appsflyer_id":{"$ref":"#/components/schemas/AppsFlyerId"},"request_id":{"$ref":"#/components/schemas/RequestId"},"customer_user_id":{"$ref":"#/components/schemas/CustomerId"},"ip":{"$ref":"#/components/schemas/Ip"},"event_name":{"$ref":"#/components/schemas/EventName"},"event_currency":{"$ref":"#/components/schemas/EventCurrency"},"event_revenue":{"$ref":"#/components/schemas/EventRevenue"},"event_value":{"$ref":"#/components/schemas/EventValue"},"app_version":{"$ref":"#/components/schemas/AppVersion"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"user_agent":{"$ref":"#/components/schemas/UserAgent"},"device_os_version":{"$ref":"#/components/schemas/DeviceOsVersion"},"device_model":{"$ref":"#/components/schemas/DeviceModel"},"limit_ad_tracking":{"$ref":"#/components/schemas/LimitAdTracking"},"sharing_filter":{"$ref":"#/components/schemas/SharingFilter"}}}}},"required":true},"responses":{"202":{"description":"The request was accepted","content":{}},"400":{"description":"Mandatory fields in the message body are missing, or fields are invalid","content":{}},"401":{"description":"The app doesn't exist or the authentication failed","content":{}},"403":{"description":"App traffic blocked due to Zero package limit","content":{}}},"x-codegen-request-body-name":"body"}},"/quest/{app-id}":{"post":{"tags":["Measure in-app events"],"summary":"Quest","operationId":"unified-v2-events-api-quest","description":"> ⚠️ Work In Progress\n","parameters":[{"$ref":"#/components/parameters/AppId"}],"requestBody":{"content":{"application/json":{"schema":{"required":["appsflyer_id","ip","event_name"],"type":"object","properties":{"device_id":{"$ref":"#/components/schemas/CtvDeviceIds"},"appsflyer_id":{"$ref":"#/components/schemas/AppsFlyerId"},"request_id":{"$ref":"#/components/schemas/RequestId"},"customer_user_id":{"$ref":"#/components/schemas/CustomerId"},"ip":{"$ref":"#/components/schemas/Ip"},"event_name":{"$ref":"#/components/schemas/EventName"},"event_currency":{"$ref":"#/components/schemas/EventCurrency"},"event_revenue":{"$ref":"#/components/schemas/EventRevenue"},"event_value":{"$ref":"#/components/schemas/EventValue"},"app_version":{"$ref":"#/components/schemas/AppVersion"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"user_agent":{"$ref":"#/components/schemas/UserAgent"},"device_os_version":{"$ref":"#/components/schemas/DeviceOsVersion"},"device_model":{"$ref":"#/components/schemas/DeviceModel"},"limit_ad_tracking":{"$ref":"#/components/schemas/LimitAdTracking"},"sharing_filter":{"$ref":"#/components/schemas/SharingFilter"}}}}},"required":true},"responses":{"202":{"description":"The request was accepted","content":{}},"400":{"description":"Mandatory fields in the message body are missing, or fields are invalid","content":{}},"401":{"description":"The app doesn't exist or the authentication failed","content":{}},"403":{"description":"App traffic blocked due to Zero package limit","content":{}}},"x-codegen-request-body-name":"body"}},"/battlenet/{app-id}":{"post":{"tags":["Measure in-app events"],"summary":"Battlenet","operationId":"unified-v2-events-api-battlenet","description":"> ⚠️ Work In Progress\n","parameters":[{"$ref":"#/components/parameters/AppId"}],"requestBody":{"content":{"application/json":{"schema":{"required":["appsflyer_id","ip","event_name"],"type":"object","properties":{"device_id":{"$ref":"#/components/schemas/CtvDeviceIds"},"appsflyer_id":{"$ref":"#/components/schemas/AppsFlyerId"},"request_id":{"$ref":"#/components/schemas/RequestId"},"customer_user_id":{"$ref":"#/components/schemas/CustomerId"},"ip":{"$ref":"#/components/schemas/Ip"},"event_name":{"$ref":"#/components/schemas/EventName"},"event_currency":{"$ref":"#/components/schemas/EventCurrency"},"event_revenue":{"$ref":"#/components/schemas/EventRevenue"},"event_value":{"$ref":"#/components/schemas/EventValue"},"app_version":{"$ref":"#/components/schemas/AppVersion"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"user_agent":{"$ref":"#/components/schemas/UserAgent"},"device_os_version":{"$ref":"#/components/schemas/DeviceOsVersion"},"device_model":{"$ref":"#/components/schemas/DeviceModel"},"limit_ad_tracking":{"$ref":"#/components/schemas/LimitAdTracking"},"sharing_filter":{"$ref":"#/components/schemas/SharingFilter"}}}}},"required":true},"responses":{"202":{"description":"The request was accepted","content":{}},"400":{"description":"Mandatory fields in the message body are missing, or fields are invalid","content":{}},"401":{"description":"The app doesn't exist or the authentication failed","content":{}},"403":{"description":"App traffic blocked due to Zero package limit","content":{}}},"x-codegen-request-body-name":"body"}},"/epic/{app-id}":{"post":{"tags":["Measure in-app events"],"summary":"Epic","operationId":"unified-v2-events-api-epic","description":"> ⚠️ Work In Progress\n","parameters":[{"$ref":"#/components/parameters/AppId"}],"requestBody":{"content":{"application/json":{"schema":{"required":["appsflyer_id","ip","event_name"],"type":"object","properties":{"device_id":{"$ref":"#/components/schemas/Epicid"},"appsflyer_id":{"$ref":"#/components/schemas/AppsFlyerId"},"request_id":{"$ref":"#/components/schemas/RequestId"},"customer_user_id":{"$ref":"#/components/schemas/CustomerId"},"ip":{"$ref":"#/components/schemas/Ip"},"event_name":{"$ref":"#/components/schemas/EventName"},"event_currency":{"$ref":"#/components/schemas/EventCurrency"},"event_revenue":{"$ref":"#/components/schemas/EventRevenue"},"event_value":{"$ref":"#/components/schemas/EventValue"},"app_version":{"$ref":"#/components/schemas/AppVersion"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"user_agent":{"$ref":"#/components/schemas/UserAgent"},"device_os_version":{"$ref":"#/components/schemas/DeviceOsVersion"},"device_model":{"$ref":"#/components/schemas/DeviceModel"},"limit_ad_tracking":{"$ref":"#/components/schemas/LimitAdTracking"},"sharing_filter":{"$ref":"#/components/schemas/SharingFilter"}}}}},"required":true},"responses":{"202":{"description":"The request was accepted","content":{}},"400":{"description":"Mandatory fields in the message body are missing, or fields are invalid","content":{}},"401":{"description":"The app doesn't exist or the authentication failed","content":{}},"403":{"description":"App traffic blocked due to Zero package limit","content":{}}},"x-codegen-request-body-name":"body"}},"/switch/{app-id}":{"post":{"tags":["Measure in-app events"],"summary":"Switch","operationId":"unified-v2-events-api-switch","description":"> ⚠️ Work In Progress\n","parameters":[{"$ref":"#/components/parameters/AppId"}],"requestBody":{"content":{"application/json":{"schema":{"required":["appsflyer_id","ip","event_name"],"type":"object","properties":{"device_id":{"$ref":"#/components/schemas/CtvDeviceIds"},"appsflyer_id":{"$ref":"#/components/schemas/AppsFlyerId"},"request_id":{"$ref":"#/components/schemas/RequestId"},"customer_user_id":{"$ref":"#/components/schemas/CustomerId"},"ip":{"$ref":"#/components/schemas/Ip"},"event_name":{"$ref":"#/components/schemas/EventName"},"event_currency":{"$ref":"#/components/schemas/EventCurrency"},"event_revenue":{"$ref":"#/components/schemas/EventRevenue"},"event_value":{"$ref":"#/components/schemas/EventValue"},"app_version":{"$ref":"#/components/schemas/AppVersion"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"user_agent":{"$ref":"#/components/schemas/UserAgent"},"device_os_version":{"$ref":"#/components/schemas/DeviceOsVersion"},"device_model":{"$ref":"#/components/schemas/DeviceModel"},"limit_ad_tracking":{"$ref":"#/components/schemas/LimitAdTracking"},"sharing_filter":{"$ref":"#/components/schemas/SharingFilter"}}}}},"required":true},"responses":{"202":{"description":"The request was accepted","content":{}},"400":{"description":"Mandatory fields in the message body are missing, or fields are invalid","content":{}},"401":{"description":"The app doesn't exist or the authentication failed","content":{}},"403":{"description":"App traffic blocked due to Zero package limit","content":{}}},"x-codegen-request-body-name":"body"}},"/xbox/{app-id}":{"post":{"tags":["Measure in-app events"],"summary":"Xbox","operationId":"unified-v2-events-api-xbox","description":"> ⚠️ Work In Progress\n","parameters":[{"$ref":"#/components/parameters/AppId"}],"requestBody":{"content":{"application/json":{"schema":{"required":["appsflyer_id","ip","event_name"],"type":"object","properties":{"device_id":{"$ref":"#/components/schemas/CtvDeviceIds"},"appsflyer_id":{"$ref":"#/components/schemas/AppsFlyerId"},"request_id":{"$ref":"#/components/schemas/RequestId"},"customer_user_id":{"$ref":"#/components/schemas/CustomerId"},"ip":{"$ref":"#/components/schemas/Ip"},"event_name":{"$ref":"#/components/schemas/EventName"},"event_currency":{"$ref":"#/components/schemas/EventCurrency"},"event_revenue":{"$ref":"#/components/schemas/EventRevenue"},"event_value":{"$ref":"#/components/schemas/EventValue"},"app_version":{"$ref":"#/components/schemas/AppVersion"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"user_agent":{"$ref":"#/components/schemas/UserAgent"},"device_os_version":{"$ref":"#/components/schemas/DeviceOsVersion"},"device_model":{"$ref":"#/components/schemas/DeviceModel"},"limit_ad_tracking":{"$ref":"#/components/schemas/LimitAdTracking"},"sharing_filter":{"$ref":"#/components/schemas/SharingFilter"}}}}},"required":true},"responses":{"202":{"description":"The request was accepted","content":{}},"400":{"description":"Mandatory fields in the message body are missing, or fields are invalid","content":{}},"401":{"description":"The app doesn't exist or the authentication failed","content":{}},"403":{"description":"App traffic blocked due to Zero package limit","content":{}}},"x-codegen-request-body-name":"body"}},"/nativepc/{app-id}":{"post":{"tags":["Measure in-app events"],"summary":"Nativepc","operationId":"unified-v2-events-api-nativepc","description":"> ⚠️ Work In Progress\n","parameters":[{"$ref":"#/components/parameters/AppId"}],"requestBody":{"content":{"application/json":{"schema":{"required":["appsflyer_id","ip","event_name"],"type":"object","properties":{"device_id":{"$ref":"#/components/schemas/CtvDeviceIds"},"appsflyer_id":{"$ref":"#/components/schemas/AppsFlyerId"},"request_id":{"$ref":"#/components/schemas/RequestId"},"customer_user_id":{"$ref":"#/components/schemas/CustomerId"},"ip":{"$ref":"#/components/schemas/Ip"},"event_name":{"$ref":"#/components/schemas/EventName"},"event_currency":{"$ref":"#/components/schemas/EventCurrency"},"event_revenue":{"$ref":"#/components/schemas/EventRevenue"},"event_value":{"$ref":"#/components/schemas/EventValue"},"app_version":{"$ref":"#/components/schemas/AppVersion"},"timestamp":{"$ref":"#/components/schemas/Timestamp"},"user_agent":{"$ref":"#/components/schemas/UserAgent"},"device_os_version":{"$ref":"#/components/schemas/DeviceOsVersion"},"device_model":{"$ref":"#/components/schemas/DeviceModel"},"limit_ad_tracking":{"$ref":"#/components/schemas/LimitAdTracking"},"sharing_filter":{"$ref":"#/components/schemas/SharingFilter"}}}}},"required":true},"responses":{"202":{"description":"The request was accepted","content":{}},"400":{"description":"Mandatory fields in the message body are missing, or fields are invalid","content":{}},"401":{"description":"The app doesn't exist or the authentication failed","content":{}},"403":{"description":"App traffic blocked due to Zero package limit","content":{}}},"x-codegen-request-body-name":"body"}}},"components":{"parameters":{"AppId":{"name":"app-id","in":"path","schema":{"type":"string","pattern":"^[A-Za-z0-9.\\-]+$"},"required":true,"description":"Application ID\n"},"Platform":{"name":"platform","in":"path","schema":{"type":"string","enum":["","roku","smartcast","tizen","webos","playstation","vidaa","steam","quest","battlenet","epic","switch","xbox","nativepc"]},"required":true,"description":"The CTV platform of the measured app\n"}},"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","description":"Create an HMAC signature by hashing the entire raw message.\nThe HMAC is generated using SHA256 and uses the DevKey as the signature’s secret key.\n\nFor example, the raw message is: `{\"timestamp\":1604503583337,\"ip\":\"127.0.0.1\",\"user_agent\":\"Roku/DVP-9.21 (AE9.21E04090A)\",\"device_os_version\":\"9.3.0\",\"device_model\":\"3920X\",\"device_ids\":[{\"type\":\"rida\",\"value\":\"fa73d67d-f55c-5af3-883a-726253dc7d0e\"}],\"limit_ad_tracking\":false}`\n\nThe DevKey is: `w8sZzy8EaPaxFKfaoTqUi6`\nThe result is: `715b133d5a327b77beb898688a3ad438da0f78071cd3df70e8ec5ecf60751972`\n","name":"authorization","in":"header"}},"schemas":{"DeviceIds":{"oneOf":[{"$ref":"#/components/schemas/AndroidDeviceIds"},{"$ref":"#/components/schemas/IosDeviceIds"},{"$ref":"#/components/schemas/CtvDeviceIds"}]},"AndroidDeviceIds":{"oneOf":[{"$ref":"#/components/schemas/AdvertisingId"},{"$ref":"#/components/schemas/Oaid"},{"$ref":"#/components/schemas/AmazonAid"},{"$ref":"#/components/schemas/Imei"},{"$ref":"#/components/schemas/AndroidId"}]},"AdvertisingId":{"title":"Advertising Id","type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["","advertising_id"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$"}}},"Oaid":{"title":"OAID","type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["","oaid"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$"}}},"AmazonAid":{"title":"Amazon AID","type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["","advertising_id"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$"}}},"Imei":{"title":"IMEI","type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["","imei"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$"}}},"AndroidId":{"title":"Android ID","type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["","android_id"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$"}}},"IosDeviceIds":{"title":"iOS Device IDs","type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["","idfa"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$"}}},"iOSAtt":{"type":"integer","enum":["",0,1,2,3]},"CtvDeviceIds":{"title":"CTV Device IDs","oneOf":[{"$ref":"#/components/schemas/Rida"},{"$ref":"#/components/schemas/Vida"},{"$ref":"#/components/schemas/Tifa"},{"$ref":"#/components/schemas/Lgudid"},{"$ref":"#/components/schemas/Vidaaid"},{"$ref":"#/components/schemas/Steamid"},{"$ref":"#/components/schemas/Epicid"},{"$ref":"#/components/schemas/Psid"}]},"AndroidVendorId":{"type":"object","properties":{"type":{"type":"string","enum":["","app_set_id"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$"}}},"iOSVendorId":{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["","idfv"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$"}}},"CustomDeviceId":{"title":"Custom device ID","type":"object","properties":{"type":{"type":"string","enum":["","custom"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$","example":"045f4137-57b7-45e6-8a45-c303101a086a"}},"required":["type","value"]},"Rida":{"title":"rida","type":"object","properties":{"type":{"type":"string","enum":["","rida"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$","example":"045f4137-57b7-45e6-8a45-c303101a086a"}},"required":["type","value"]},"Vida":{"title":"vida","type":"object","properties":{"type":{"type":"string","enum":["","vida"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$","example":"045f4137-57b7-45e6-8a45-c303101a086a"}},"required":["type","value"]},"Tifa":{"title":"tifa","type":"object","properties":{"type":{"type":"string","enum":["","tifa"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$","example":"045f4137-57b7-45e6-8a45-c303101a086a"}},"required":["type","value"]},"Lgudid":{"title":"lgudid","type":"object","properties":{"type":{"type":"string","enum":["","lgudid"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$","example":"045f4137-57b7-45e6-8a45-c303101a086a"}},"required":["type","value"]},"Vidaaid":{"title":"vidaaid","type":"object","properties":{"type":{"type":"string","enum":["","vidaaid"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$","example":"045f4137-57b7-45e6-8a45-c303101a086a"}},"required":["type","value"]},"Steamid":{"title":"Steam ID","type":"object","properties":{"type":{"type":"string","enum":["","steamid"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$","example":"045f4137-57b7-45e6-8a45-c303101a086a"}},"required":["type","value"]},"Epicid":{"title":"EPIC id","type":"object","properties":{"type":{"type":"string","enum":["","epicid"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$","example":"045f4137-57b7-45e6-8a45-c303101a086a"}},"required":["type","value"]},"Psid":{"title":"PS id","type":"object","properties":{"type":{"type":"string","enum":["","psid"]},"value":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$","example":"045f4137-57b7-45e6-8a45-c303101a086a"}},"required":["type","value"]},"AppsFlyerIdCtv":{"type":"string"},"RequestId":{"maxLength":36,"minLength":36,"type":"string","description":"Unique identifier per request","example":"71dad7da-7926-40d8-9b15-b94a6d46e15a"},"AppsFlyerId":{"type":"string","pattern":"\\d{13}-\\d{7}","description":"A unique identifier, generated by AppsFlyer, when the app launches for the first time.\nLearn [here](https://support.appsflyer.com/hc/en-us/articles/207034486-Server-to-server-events-API-for-mobile-S2S-mobile#fetching-the-appsflyer-id) how to obtain it\n","example":"1234567890123-1234567"},"CustomerId":{"maxLength":64,"minLength":1,"type":"string","description":"Customer user ID, as set by the developer. This is used as the user identifier in the advertiser's system","example":"15667737-366d-4994-ac8b-653fe6b2be4a"},"Ip":{"maxLength":46,"minLength":1,"type":"string","description":"The device IP address - IPv4 or IPv6","pattern":"((^\\s*((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\\s*$)|(^\\s*((([0-9a-f]{1,4}:){7}([0-9a-f]{1,4}|:))|(([0-9a-f]{1,4}:){6}(:[0-9a-f]{1,4}|((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3})|:))|(([0-9a-f]{1,4}:){5}(((:[0-9a-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3})|:))|(([0-9a-f]{1,4}:){4}(((:[0-9a-f]{1,4}){1,3})|((:[0-9a-f]{1,4})?:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3}))|:))|(([0-9a-f]{1,4}:){3}(((:[0-9a-f]{1,4}){1,4})|((:[0-9a-f]{1,4}){0,2}:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3}))|:))|(([0-9a-f]{1,4}:){2}(((:[0-9a-f]{1,4}){1,5})|((:[0-9a-f]{1,4}){0,3}:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3}))|:))|(([0-9a-f]{1,4}:){1}(((:[0-9a-f]{1,4}){1,6})|((:[0-9a-f]{1,4}){0,4}:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3}))|:))|(:(((:[0-9a-f]{1,4}){1,7})|((:[0-9a-f]{1,4}){0,5}:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3}))|:)))(%.+)?\\s*$))","example":"35.244.183.10"},"EventName":{"type":"string","description":"The name of the event","oneOf":[{"type":"string","title":"Predefined event names","enum":["","af_level_achieved","af_add_payment_info","af_add_to_cart","af_add_to_wishlist","af_complete_registration","af_tutorial_completion","af_initiated_checkout","af_purchase","af_rate","af_search","af_spent_credits","af_achievement_unlocked","af_content_view","af_list_view","af_travel_booking","af_share","af_invite","af_login","af_re_engage","af_update","af_location_coordinates","af_customer_segment","af_subscribe","af_start_trial","af_ad_click","af_ad_view","af_opened_from_push_notification"]},{"type":"string","title":"Custom event names","description":"A custom event name"}]},"EventRevenue":{"type":"number","format":"float","description":"Revenue generated"},"AppVersion":{"maxLength":24,"minLength":1,"type":"string","pattern":"^[A-Za-z0-9.\\-]+$","description":"The release or version number of the app","example":"1.0.5"},"AppStore":{"type":"string","example":"my_android_store_is_best","description":"Equivalent to `AF_STORE` in Android apps. The store from which the app was downloaded.\n"},"Timestamp":{"type":"integer","description":"Event timestamp in Unix time milliseconds (UTC)","format":"int64","example":1625576172928},"BundleIdentifier":{"type":"string","example":"com.myapp","description":"A unique app identifier. In raw-data, the parameter populates Bundle ID. \n**Best practice** - Always populate this parameter. Many ad networks require it for campaign optimization. \n"},"UserAgent":{"maxLength":256,"minLength":1,"type":"string","description":"The device user agent","example":"Roku/DVP-9.21 (AE9.21E04090A)"},"DeviceOsVersion":{"maxLength":12,"minLength":1,"type":"string","pattern":"^[0-9.\\-]+$","description":"The device OS version","example":"9.3.0"},"DeviceModel":{"maxLength":50,"minLength":1,"type":"string","pattern":"^[A-Za-z0-9.\\(\\)\\- ]+$","description":"The device model","example":"3920X"},"LimitAdTracking":{"type":"boolean","description":"Limit Ad Tracking flag. Use this flag to mark whether or not the user has advertiser ID","example":true},"SharingFilter":{"description":"The sharing filter blocks the sharing of events via postbacks/API with integrated partners and other third-party integrations.\nUse the filter to fulfill regulatory requirements like GDPR and CCPA, to comply with user opt-out mechanisms, and for other business logic reasons. \n\nThe `sharing_filter` has the following options:\n\n- `all`: All partners are blocked. Don't share the event with anyone. Example: \"sharing_filter\": \"all\"\n- List of partner ids in an array. \n\n**Note:** \n  To find out the required partner IDs:\n  1. Run the [Get active integrations API](https://dev.appsflyer.com/hc/reference/get_v1-integrations) for a list of all active integrations\n  2. Use the `media_source_name` values from the [API response](https://dev.appsflyer.com/hc/reference/get_v1-integrations) as input values to the method `partners` array. \n","type":"array","items":{"type":"string","minLength":1},"minItems":1,"oneOf":[{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"title":"list partners blocked"},{"type":"array","items":{"type":"string","enum":["all"]},"minItems":1,"maxItems":1,"title":"all partners blocked"}]},"EventValue":{"type":"object","properties":{"custom_parameters":{"description":"A JSON object which can contain multiple parameters. Learn more [here](https://support.appsflyer.com/hc/en-us/articles/4410481112081-Rich-in-app-events-Event-structure)","type":"object","additionalProperties":{"type":"string"},"maxLength":2048,"example":"{\"test_param\": \"test_data\", \"af_price\":6.66, \"player_level\": 55, \"af_duration_seconds\": 100}"},"af_content":{"type":"array","items":{"type":"string"},"description":"List of content items"},"af_achievement_id":{"type":"string","description":"ID of the achievement"},"af_level":{"type":"string","description":"Level achieved"},"af_score":{"type":"string","description":"Score achieved"},"af_success":{"type":"string","description":"Success status"},"af_price":{"type":"number","format":"float","description":"Price or cost of an event"},"af_content_type":{"type":"string","description":"Content type"},"af_content_id":{"type":"string","description":"ID of the content"},"af_content_list":{"type":"array","items":{"type":"string"},"description":"List of content IDs"},"af_quantity":{"type":"integer","description":"Quantity of items"},"af_registration_method":{"type":"string","description":"Registration method"},"af_payment_info_available":{"type":"string","description":"Indicates if payment info is available"},"af_max_rating_value":{"type":"string","description":"Maximum rating value"},"af_rating_value":{"type":"string","description":"Rating value"},"af_search_string":{"type":"string","description":"Search string used"},"af_date_a":{"type":"string","description":"Date A"},"af_date_b":{"type":"string","description":"Date B"},"af_destination_a":{"type":"string","description":"Destination A"},"af_destination_b":{"type":"string","description":"Destination B"},"af_description":{"type":"string","description":"Description of the event"},"af_class":{"type":"string","description":"Class of the event"},"af_event_start":{"type":"string","description":"Event start time"},"af_event_end":{"type":"string","description":"Event end time"},"af_lat":{"type":"string","description":"Latitude of the location"},"af_long":{"type":"string","description":"Longitude of the location"},"af_customer_user_id":{"type":"string","description":"Customer user ID"},"af_validated":{"type":"boolean","description":"Indicates if the event was validated"},"af_projected_revenue":{"type":"number","format":"float","description":"Projected revenue"},"af_receipt_id":{"type":"string","description":"Receipt ID"},"af_tutorial_id":{"type":"string","description":"Tutorial ID"},"af_virtual_currency_name":{"type":"string","description":"Virtual currency name"},"af_deep_link":{"type":"string","description":"Deep link URL"},"af_old_version":{"type":"string","description":"Old version of the app"},"af_new_version":{"type":"string","description":"New version of the app"},"af_review_text":{"type":"string","description":"Review text"},"af_coupon_code":{"type":"string","description":"Coupon code"},"af_order_id":{"type":"string","description":"Order ID"},"af_param_1":{"type":"string","description":"Parameter 1"},"af_param_2":{"type":"string","description":"Parameter 2"},"af_param_3":{"type":"string","description":"Parameter 3"},"af_param_4":{"type":"string","description":"Parameter 4"},"af_param_5":{"type":"string","description":"Parameter 5"},"af_param_6":{"type":"string","description":"Parameter 6"},"af_param_7":{"type":"string","description":"Parameter 7"},"af_param_8":{"type":"string","description":"Parameter 8"},"af_param_9":{"type":"string","description":"Parameter 9"},"af_param_10":{"type":"string","description":"Parameter 10"},"af_departing_departure_date":{"type":"string","description":"Departing departure date"},"af_returning_departure_date":{"type":"string","description":"Returning departure date"},"af_destination_list":{"type":"array","items":{"type":"string"},"description":"List of destinations"},"af_city":{"type":"string","description":"City"},"af_region":{"type":"string","description":"Region"},"af_country":{"type":"string","description":"Country"},"af_departing_arrival_date":{"type":"string","description":"Departing arrival date"},"af_returning_arrival_date":{"type":"string","description":"Returning arrival date"},"af_suggested_destinations":{"type":"array","items":{"type":"string"},"description":"List of suggested destinations"},"af_travel_start":{"type":"string","description":"Travel start date"},"af_travel_end":{"type":"string","description":"Travel end date"},"af_num_adults":{"type":"string","description":"Number of adults"},"af_num_children":{"type":"string","description":"Number of children"},"af_num_infants":{"type":"string","description":"Number of infants"},"af_suggested_hotels":{"type":"array","items":{"type":"string"},"description":"List of suggested hotels"},"af_user_score":{"type":"string","description":"User score"},"af_hotel_score":{"type":"string","description":"Hotel score"},"af_purchase_currency":{"type":"string","description":"Purchase currency"},"af_preferred_neighborhoods":{"type":"array","items":{"type":"string"},"description":"Preferred neighborhoods"},"af_preferred_num_stops":{"type":"string","description":"Preferred number of stops"},"af_adrev_ad_type":{"type":"string","description":"Ad revenue ad type"},"af_adrev_network_name":{"type":"string","description":"Ad revenue network name"},"af_adrev_placement_id":{"type":"string","description":"Ad revenue placement ID"},"af_adrev_ad_size":{"type":"string","description":"Ad revenue ad size"},"af_adrev_mediated_network_name":{"type":"string","description":"Ad revenue mediated network name"},"af_preferred_price_range":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"integer"}},"description":"Preferred price range"},"af_preferred_star_ratings":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"integer"}},"description":"Preferred star ratings"}},"additionalProperties":false,"description":"Object containing any combination of event parameters"},"ConsentData":{"type":"object","properties":{"consent_data":{"oneOf":[{"$ref":"#/components/schemas/TCF"},{"$ref":"#/components/schemas/Manual"}]}},"required":["consent_data"]},"EventCurrency":{"description":"Event currency","enum":["","USD","AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTC","BTN","BWP","BYN","BZD","CAD","CDF","CHF","CLF","CLP","CNH","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GGP","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IMP","INR","IQD","IRR","ISK","JEP","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MRU","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STD","STN","SVC","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","UYU","UZS","VEF","VES","VND","VUV","WST","XAF","XAG","XAU","XCD","XDR","XOF","XPD","XPF","XPT","YER","ZAR","ZMW","ZWL","BYR"]},"TCF":{"title":"TCF","type":"object","properties":{"tcf":{"type":"object","properties":{"policy_version":{"type":"integer","example":4},"cmp_sdk_id":{"type":"integer","example":300},"cmp_sdk_version":{"type":"integer","example":2},"gdpr_applies":{"type":"integer","enum":[0,1],"description":"Indicates whether GDPR applies (0 for no, 1 for yes)"},"tcstring":{"type":"string","example":"XXXXXXXX"}}}}},"Manual":{"title":"Manual","type":"object","properties":{"manual":{"type":"object","properties":{"gdpr_applies":{"type":"string","enum":["",true,false]},"ad_user_data_enabled":{"type":"string","enum":["",true,false]},"ad_personalization_enabled":{"type":"string","enum":["",true,false]}},"required":["gdpr_applies","ad_user_data_enabled","ad_personalization_enabled"]}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}