{
  "openapi": "3.0.3",
  "info": {
    "title": "Validation Rules S2S API Draft",
    "version": "1.0.0",
    "description": "Server-to-Server API for managing validation rules: create, list, retrieve, update, and delete.\nThis is a draft specification and subject to change.\n"
  },
  "servers": [
    {
      "url": "https://hq1.appsflyer.com/api/validation-rules/v1.0/",
      "description": "Validation Rules API v1.0"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Validation Rules"
    }
  ],
  "paths": {
    "/rules": {
      "post": {
        "tags": [
          "Validation Rules"
        ],
        "summary": "Create rule",
        "description": "Server-to-Server API for managing validation rules: create, list, retrieve, update, and delete.\n\n**Note:** This API is currently a draft and subject to change.\n\nLinks:\n  - [Create rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-create-rule)\n  - [List rules](https://dev.appsflyer.com/hc/reference/new-validation-rules-list-rules)\n  - [Get rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-get-rule)\n  - [Update full rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-update-rule)\n  - [Delete rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-delete-rule)\n  - [Update rule status](https://dev.appsflyer.com/hc/reference/new-validation-rules-update-rule-status)\n",
        "operationId": "new-validation-rules-create-rule",
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": false,
            "description": "A unique key to make the create operation idempotent for at least 24 hours.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rule"
              },
              "examples": {
                "CreateBlockSites": {
                  "summary": "Block installs for specific site IDs and media source",
                  "value": {
                    "name": "Block installs from ms_a on site_a,b",
                    "description": "Quarantines suspicious sites for ms_a",
                    "enable": true,
                    "scope": {
                      "app_ids": [
                        "app_a",
                        "app_b"
                      ],
                      "event": "install"
                    },
                    "action": {
                      "type": "block",
                      "predicates": [
                        {
                          "field": "site_id",
                          "op": "in",
                          "values": [
                            "site_a",
                            "site_b"
                          ]
                        },
                        {
                          "field": "media_source",
                          "op": "in",
                          "values": [
                            "ms_a"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rule created",
            "headers": {
              "Location": {
                "description": "Absolute URL of the created rule resource",
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "example": "/validation-rules/v1.0/rules/2f2a2f7b-...-a1e9"
              },
              "ETag": {
                "description": "Entity tag for the created rule; use with If-Match on updates",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rule"
                },
                "examples": {
                  "CreatedRule": {
                    "value": {
                      "rule_id": "2f2a2f7b-...-a1e9",
                      "version": 1,
                      "name": "Block installs from ms_a on site_a,b",
                      "scope": {
                        "app_ids": [
                          "app_a",
                          "app_b"
                        ],
                        "event": "install"
                      },
                      "action": {
                        "type": "block",
                        "predicates": [
                          {
                            "field": "site_id",
                            "op": "in",
                            "values": [
                              "site_a",
                              "site_b"
                            ]
                          },
                          {
                            "field": "media_source",
                            "op": "in",
                            "values": [
                              "ms_a"
                            ]
                          }
                        ]
                      },
                      "enable": true,
                      "description": "Quarantines suspicious sites for ms_a",
                      "metadata": {
                        "created_at": "2025-09-18T10:22:30Z",
                        "updated_at": "2025-09-18T10:22:30Z",
                        "created_by": "user.email@company.com",
                        "updated_by": "user.email@company.com"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "Conflict (e.g., name must be unique, or idempotency conflict)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "get": {
        "tags": [
          "Validation Rules"
        ],
        "summary": "List rules",
        "description": "Server-to-Server API for managing validation rules: create, list, retrieve, update, and delete.\n\n**Note:** This API is currently a draft and subject to change.\n\nLinks:\n  - [Create rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-create-rule)\n  - [List rules](https://dev.appsflyer.com/hc/reference/new-validation-rules-list-rules)\n  - [Get rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-get-rule)\n  - [Update full rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-update-rule)\n  - [Delete rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-delete-rule)\n  - [Update rule status](https://dev.appsflyer.com/hc/reference/new-validation-rules-update-rule-status)\n",
        "operationId": "new-validation-rules-list-rules",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Max number of items to return (1–1000)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Opaque cursor for pagination",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "q",
            "description": "Free-text search over rule name/description",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "media_source",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "app_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "event",
            "schema": {
              "$ref": "#/components/schemas/Event"
            }
          },
          {
            "in": "query",
            "name": "enable",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rules list",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "integer",
                  "description": "Seconds until limit resets"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RulesListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/rules/{rule_id}": {
      "get": {
        "tags": [
          "Validation Rules"
        ],
        "summary": "Get rule",
        "description": "Server-to-Server API for managing validation rules: create, list, retrieve, update, and delete.\n\n**Note:** This API is currently a draft and subject to change.\n\nLinks:\n  - [Create rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-create-rule)\n  - [List rules](https://dev.appsflyer.com/hc/reference/new-validation-rules-list-rules)\n  - [Get rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-get-rule)\n  - [Update full rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-update-rule)\n  - [Delete rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-delete-rule)\n  - [Update rule status](https://dev.appsflyer.com/hc/reference/new-validation-rules-update-rule-status)\n",
        "operationId": "new-validation-rules-get-rule",
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the rule",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rule",
            "headers": {
              "ETag": {
                "description": "Entity tag of the current rule state",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rule"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "put": {
        "tags": [
          "Validation Rules"
        ],
        "summary": "Update full rule",
        "description": "Server-to-Server API for managing validation rules: create, list, retrieve, update, and delete.\n\n**Note:** This API is currently a draft and subject to change.\n\nLinks:\n  - [Create rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-create-rule)\n  - [List rules](https://dev.appsflyer.com/hc/reference/new-validation-rules-list-rules)\n  - [Get rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-get-rule)\n  - [Update full rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-update-rule)\n  - [Delete rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-delete-rule)\n  - [Update rule status](https://dev.appsflyer.com/hc/reference/new-validation-rules-update-rule-status)\n\n  Full update only. PATCH is not supported. Use If-Match for optimistic concurrency.\n",
        "operationId": "new-validation-rules-update-rule",
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the rule",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "header",
            "name": "If-Match",
            "required": false,
            "description": "Provide the current ETag/version to prevent lost updates.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rule"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated rule",
            "headers": {
              "ETag": {
                "description": "New entity tag after the update",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rule"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Conflict (e.g., name not unique, or If-Match precondition failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "delete": {
        "tags": [
          "Validation Rules"
        ],
        "summary": "Delete rule",
        "description": "Server-to-Server API for managing validation rules: create, list, retrieve, update, and delete.\n\n**Note:** This API is currently a draft and subject to change.\n\nLinks:\n  - [Create rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-create-rule)\n  - [List rules](https://dev.appsflyer.com/hc/reference/new-validation-rules-list-rules)\n  - [Get rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-get-rule)\n  - [Update full rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-update-rule)\n  - [Delete rule](https://dev.appsflyer.com/hc/reference/new-validation-rules-delete-rule)\n  - [Update rule status](https://dev.appsflyer.com/hc/reference/new-validation-rules-update-rule-status)\n",
        "operationId": "new-validation-rules-delete-rule",
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the rule",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/rules/{rule_id}/status": {}
  },
  "components": {
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Unprocessable Entity (validation error)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests (rate limited)",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before retrying",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable (HTTP 503). Upstream or load balancer temporarily unavailable.",
        "content": {}
      },
      "GatewayTimeout": {
        "description": "Gateway Timeout (HTTP 504). Upstream did not respond in time.",
        "content": {}
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "issue": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "message"
        ],
        "example": {
          "message": "Validation failed",
          "code": "VALIDATION_ERROR",
          "details": [
            {
              "field": "action.predicates[0].values[0]",
              "issue": "invalid value"
            }
          ]
        }
      },
      "Event": {
        "type": "string",
        "enum": [
          "install",
          "inapp"
        ]
      },
      "Predicate": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "site_id",
              "media_source",
              "partner",
              "campaign_id",
              "adset_id",
              "ad_id",
              "channel",
              "geo",
              "campaign",
              "event_name"
            ]
          },
          "op": {
            "type": "string",
            "enum": [
              "eq",
              "neq",
              "in",
              "not_in"
            ]
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1
          }
        },
        "required": [
          "field",
          "op",
          "values"
        ]
      },
      "Action": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "block",
              "drop",
              "tag"
            ]
          },
          "predicates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Predicate"
            }
          }
        },
        "required": [
          "type"
        ]
      },
      "RuleScope": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "app_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1
          },
          "event": {
            "$ref": "#/components/schemas/Event"
          }
        },
        "required": [
          "app_ids",
          "event"
        ]
      },
      "RuleMetadata": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "created_by": {
            "type": "string",
            "readOnly": true
          },
          "updated_by": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "Rule": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "rule_id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "version": {
            "type": "integer",
            "readOnly": true
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "enable": {
            "type": "boolean",
            "default": true
          },
          "scope": {
            "$ref": "#/components/schemas/RuleScope"
          },
          "action": {
            "$ref": "#/components/schemas/Action"
          },
          "metadata": {
            "$ref": "#/components/schemas/RuleMetadata"
          }
        },
        "required": [
          "name",
          "scope",
          "action"
        ]
      },
      "RuleCreateRequest": {
        "$ref": "#/components/schemas/Rule"
      },
      "RuleUpdateRequest": {
        "$ref": "#/components/schemas/Rule"
      },
      "RuleListItem": {
        "type": "object",
        "properties": {
          "rule_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "enable": {
            "type": "boolean"
          }
        },
        "required": [
          "rule_id",
          "name",
          "version",
          "enable"
        ],
        "additionalProperties": false
      },
      "RulesListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RuleListItem"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Token required for authorization. RBAC is enforced server-side (e.g., rules:read, rules:write).\nSee https://support.appsflyer.com/hc/en-us/articles/360004562377 for instructions on obtaining a token.\n"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}