{"openapi":"3.1.0","info":{"title":"validation-rules-api","version":"2.2.2"},"servers":[{"url":"https://hq1.appsflyer.com/api/vr2api"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization"}}},"security":[{"sec0":[]}],"paths":{"/rules":{"get":{"summary":"Get rules","description":"","operationId":"get-rules","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": [\n       {\n            \"app-ids\": [\n                \"some.app.1\",\n                \"some.app.2\",\n                \"some.app.3\"\n            ],\n            \"description\": \"some description\",\n            \"last-update-time-millis\": 1604570745995,\n            \"name\": \"some-name\",\n            \"last-update-user\": \"some@user.com\",\n            \"rule-id\": \"a1234b12-cd12-4efa-b123-cde1a2345f60\",\n            [optional] \"read-only-reason\": \"agency_rule\",\n            \"status\": \"enabled\",\n            \"population\": {\n                \"cond-oper\": \"and\",\n                \"conds\": [\n                    {\n                        \"values\": [],\n                        \"oper\": \"s.not_is_empty\",\n                        \"attr\": \"engagement.media_source\"\n                    },\n                    {\n                        \"values\": [\n                            \"SOME_AGENCY\"\n                        ],\n                        \"oper\": \"s.in\",\n                        \"attr\": \"engagement.agency\"\n                    },\n                    {\n                        \"values\": [\n                            \"someadset\"\n                        ],\n                        \"oper\": \"s.in\",\n                        \"attr\": \"engagement.ad_set_name\"\n                    }\n                ]\n            },\n            \"rule-type\": \"blocking\",\n            \"action\": \"block-event\",\n            \"event-type\": \"install\",\n            \"rule-conditions\": {\n                \"cond-group-oper\": \"and\",\n                \"cond-groups\": [\n                    {\n                        \"cond-oper\": \"and\",\n                        \"conds\": [\n                            {\n                                \"values\": [],\n                                \"oper\": \"s.eq\",\n                                \"attr\": \"geo\"\n                            }\n                        ]\n                    }\n                ]\n            }\n        }\n    ]\n}\n"}}}}},"403":{"description":"403","content":{"text/plain":{"examples":{"Result":{"value":"{\"data\": \"Error: User is unauthorized to perform this action\"}"}},"schema":{"type":"object","properties":{"data":{"type":"string","example":"Error: User is unauthorized to perform this action"}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\"data\":\"Something went wrong. Please try again later.\"}"}},"schema":{"type":"object","properties":{"data":{"type":"string","example":"Something went wrong. Please try again later."}}}}}}},"deprecated":false}},"/rule":{"post":{"summary":"Create rule","description":"Create a new rule with the specified conditions. **Note**: When you enter the API token and click **Try it**, the rule is created.","operationId":"create-rule","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"RAW_BODY":{"type":"string","description":"[Get the JSON](https://dev.appsflyer.com/hc/reference/create-rule?showHidden=e5904#validation-rule-json)","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"app-ids\": [\n            \"some.app\"\n        ],\n        \"description\": \"1538651475755\",\n        \"last-update-time-millis\": 1604823046345,\n        \"name\": \"some name\",\n        \"last-update-user\": \"some@user.com\",\n        \"rule-id\": \"f0c77416-4cb2-49c7-86c8-45b18184c8bf\",\n        \"status\": \"enabled\",\n        \"population\": {\n            \"cond-oper\": \"and\",\n            \"conds\": [\n                {\n                    \"oper\": \"s.in\",\n                    \"attr\": \"engagement.media_source\",\n                    \"values\": [\n                        \"some_media_source_1\",\n                        \"some_media_source_2\"\n                    ]\n                },\n                {\n                    \"attr\": \"engagement.media_source\",\n                    \"oper\": \"s.not_is_empty\",\n                    \"values\": []\n                }\n            ]\n        },\n        \"rule-type\": \"allow-only\",\n        \"action\": \"block-candidate\",\n        \"event-type\": \"install\",\n        \"rule-conditions\": {\n            \"cond-group-oper\": \"or\",\n            \"cond-groups\": [\n                {\n                    \"cond-oper\": \"and\",\n                    \"conds\": [\n                        {\n                            \"oper\": \"s.in\",\n                            \"attr\": \"geo\",\n                            \"values\": [\n                                {\n                                    \"label\": \"United States (US)\",\n                                    \"value\": \"us/*/*\"\n                                },\n                                {\n                                    \"label\": \"Canada (CA)\",\n                                    \"value\": \"ca/*/*\"\n                                },\n                                {\n                                    \"label\": \"Malaysia (MY)\",\n                                    \"value\": \"my/*/*\"\n                                }\n                            ]\n                        }\n                    ]\n                }\n            ]\n        }\n    }\n}\n"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"app-ids":{"type":"array","items":{"type":"string","example":"some.app"}},"description":{"type":"string","example":"1538651475755"},"last-update-time-millis":{"type":"integer","example":1604823046345,"default":0},"name":{"type":"string","example":"some name"},"last-update-user":{"type":"string","example":"some@user.com"},"rule-id":{"type":"string","example":"f0c77416-4cb2-49c7-86c8-45b18184c8bf"},"status":{"type":"string","example":"enabled"},"population":{"type":"object","properties":{"cond-oper":{"type":"string","example":"and"},"conds":{"type":"array","items":{"type":"object","properties":{"oper":{"type":"string","example":"s.in"},"attr":{"type":"string","example":"engagement.media_source"},"values":{"type":"array","items":{"type":"string","example":"some_media_source_1"}}}}}}},"rule-type":{"type":"string","example":"allow-only"},"action":{"type":"string","example":"block-candidate"},"event-type":{"type":"string","example":"install"},"rule-conditions":{"type":"object","properties":{"cond-group-oper":{"type":"string","example":"or"},"cond-groups":{"type":"array","items":{"type":"object","properties":{"cond-oper":{"type":"string","example":"and"},"conds":{"type":"array","items":{"type":"object","properties":{"oper":{"type":"string","example":"s.in"},"attr":{"type":"string","example":"geo"},"values":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","example":"United States (US)"},"value":{"type":"string","example":"us/*/*"}}}}}}}}}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\"data\":\"Error: `some schema error msg`\"}"}},"schema":{"type":"object","properties":{"data":{"type":"string","example":"Error: `some schema error msg`"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"data\": \"Error: User is unauthorized to perform this action\"}"}},"schema":{"type":"object","properties":{"data":{"type":"string","example":"Error: User is unauthorized to perform this action"}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\"data\":\"Something went wrong. Please try again later.\"}"}},"schema":{"type":"object","properties":{"data":{"type":"string","example":"Something went wrong. Please try again later."}}}}}}},"deprecated":false}},"/rule/{rule-id}":{"put":{"summary":"Update rule","description":"Update the specifications of a rule which was previously created. **Note**: When you enter the API token and click **Try it**, the rule is updated.","operationId":"update-rule","parameters":[{"name":"rule-id","in":"path","description":"The unique identifier for that rule received when creating the rule, or when getting all the rules through `/rules`","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"RAW_BODY":{"type":"string","description":"[Get the JSON](https://dev.appsflyer.com/hc/reference/update-rule?showHidden=e5904#validation-rule-json)","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"app-ids\": [\n            \"some.app\"\n        ],\n        \"description\": \"1538651475755\",\n        \"last-update-time-millis\": 1604823046345,\n        \"name\": \"some name\",\n        \"last-update-user\": \"some@user.com\",\n        \"rule-id\": \"f0c77416-4cb2-49c7-86c8-45b18184c8bf\",\n        \"status\": \"enabled\",\n        \"population\": {\n            \"cond-oper\": \"and\",\n            \"conds\": [\n                {\n                    \"oper\": \"s.in\",\n                    \"attr\": \"engagement.media_source\",\n                    \"values\": [\n                        \"some_media_source_1\",\n                        \"some_media_source_2\"\n                    ]\n                },\n                {\n                    \"attr\": \"engagement.media_source\",\n                    \"oper\": \"s.not_is_empty\",\n                    \"values\": []\n                }\n            ]\n        },\n        \"rule-type\": \"allow-only\",\n        \"action\": \"block-candidate\",\n        \"event-type\": \"install\",\n        \"rule-conditions\": {\n            \"cond-group-oper\": \"or\",\n            \"cond-groups\": [\n                {\n                    \"cond-oper\": \"and\",\n                    \"conds\": [\n                        {\n                            \"oper\": \"s.in\",\n                            \"attr\": \"geo\",\n                            \"values\": [\n                                {\n                                    \"label\": \"United States (US)\",\n                                    \"value\": \"us/*/*\"\n                                },\n                                {\n                                    \"label\": \"Canada (CA)\",\n                                    \"value\": \"ca/*/*\"\n                                },\n                                {\n                                    \"label\": \"Malaysia (MY)\",\n                                    \"value\": \"my/*/*\"\n                                }\n                            ]\n                        }\n                    ]\n                }\n            ]\n        }\n    }\n}\n"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"app-ids":{"type":"array","items":{"type":"string","example":"some.app"}},"description":{"type":"string","example":"1538651475755"},"last-update-time-millis":{"type":"integer","example":1604823046345,"default":0},"name":{"type":"string","example":"some name"},"last-update-user":{"type":"string","example":"some@user.com"},"rule-id":{"type":"string","example":"f0c77416-4cb2-49c7-86c8-45b18184c8bf"},"status":{"type":"string","example":"enabled"},"population":{"type":"object","properties":{"cond-oper":{"type":"string","example":"and"},"conds":{"type":"array","items":{"type":"object","properties":{"oper":{"type":"string","example":"s.in"},"attr":{"type":"string","example":"engagement.media_source"},"values":{"type":"array","items":{"type":"string","example":"some_media_source_1"}}}}}}},"rule-type":{"type":"string","example":"allow-only"},"action":{"type":"string","example":"block-candidate"},"event-type":{"type":"string","example":"install"},"rule-conditions":{"type":"object","properties":{"cond-group-oper":{"type":"string","example":"or"},"cond-groups":{"type":"array","items":{"type":"object","properties":{"cond-oper":{"type":"string","example":"and"},"conds":{"type":"array","items":{"type":"object","properties":{"oper":{"type":"string","example":"s.in"},"attr":{"type":"string","example":"geo"},"values":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","example":"United States (US)"},"value":{"type":"string","example":"us/*/*"}}}}}}}}}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\"data\":\"Error: `some schema error msg`\"}"}},"schema":{"type":"object","properties":{"data":{"type":"string","example":"Error: `some schema error msg`"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"data\": \"Error: User is unauthorized to perform this action\"}"}},"schema":{"type":"object","properties":{"data":{"type":"string","example":"Error: User is unauthorized to perform this action"}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\"data\":\"Something went wrong. Please try again later.\"}"}},"schema":{"type":"object","properties":{"data":{"type":"string","example":"Something went wrong. Please try again later."}}}}}}},"deprecated":false}},"/rule/{rule-id}/status":{"put":{"summary":"Update rule status","description":"Update rule status to enabled/disabled/deleted. **Note**: When you enter the API token and click **Try it**, the rule status is updated.","operationId":"update-rule-status","parameters":[{"name":"rule-id","in":"path","description":"The unique identifier for that rule received when creating the rule, or when getting all the rules through `/rules`","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["enabled","disabled","deleted"]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":""}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\"data\":\"Error: `some schema error msg`\"}"}},"schema":{"type":"object","properties":{"data":{"type":"string","example":"Error: `some schema error msg`"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"data\": \"Error: User is unauthorized to perform this action\"}"}},"schema":{"type":"object","properties":{"data":{"type":"string","example":"Error: User is unauthorized to perform this action"}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\"data\":\"Something went wrong. Please try again later.\"}"}},"schema":{"type":"object","properties":{"data":{"type":"string","example":"Something went wrong. Please try again later."}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}